<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marcador">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.scorer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.scorer.SoccerActivity"
            android:label="@string/category_soccer"
            android:parentActivityName="com.example.scorer.MainActivity" />
        <activity
            android:name="com.example.scorer.BasketballActivity"
            android:label="@string/category_basketball"
            android:parentActivityName="com.example.scorer.MainActivity" />
        <activity
            android:name="com.example.scorer.VolleyballActivity"
            android:label="@string/category_volleyball"
            android:parentActivityName="com.example.scorer.MainActivity" />
        <activity
            android:name="com.example.scorer.TennisActivity"
            android:label="@string/category_tennis"
            android:parentActivityName="com.example.scorer.TennisActivity" />
        <activity
            android:name="com.example.scorer.TableTennisActivity"
            android:label="@string/category_tableTennis"
            android:parentActivityName="com.example.scorer.TableTennisActivity" />
    </application>

</manifest>